.navbar{

  font-family: 'Source Sans Pro', sans-serif;

  background-color: #222222;
  padding: 2px 0 2px 0;
  margin: 0;
  border-bottom: #424242 solid 2px;
}

.container-fluid{
  height: 60px;
  display: flex;
  justify-content: space-between;

  .navbar-header{
    padding: 12px 20px;
    .navbar-brand{
      font-size: 25px;
      color: white;
      text-decoration: none;
      transition: color 100ms linear;
      &:hover{
        cursor: pointer;
        color: rgba(255,255,255,0.8);
      }
    }
  }

  .navbar-nav{

    width: 20vw;
    display: flex;
    justify-content: right;
    a{
      color: white;
      text-decoration: none;
      padding: 15px;
      transition: color 250ms linear;
      span{
        font-size: 20px;
      }
      &:hover{
        color: #acacac;
      }
    }
    .active{
      color: #ffa200;

      &:hover{
        color: #ffbf59;
      }
    }
  }

}

@media only screen and (max-width: 600px) {
  .container-fluid .navbar-nav a{
    padding: 15px 8px;
  }
}
