.navbar{
  font-family: 'Source Sans Pro', sans-serif;

  background-color: #222222;
  padding: 2px 0 2px 0;
  margin: 0;
  border-bottom: #424242 solid 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.container-fluid{
  height: 60px;
  display: flex;
  justify-content: space-between;

  .navbar-header{
    padding: 12px;
    .navbar-brand img{
      height: 40px;
    }
  }

  .navbar-nav{

    width: 20vw;
    display: flex;
    justify-content: right;
    a{
      color: white;
      text-decoration: none;
      padding: 15px;
      transition: color 250ms linear;
      span{
        font-size: 20px;
      }
      &:hover{
        color: #acacac;
      }
    }
    .active{
      color: #ffa200;

      &:hover{
        color: #ffbf59;
      }
    }
  }

}

.hidenav-on-mouse{
  transform: translateY(0px);
  transition: transform 200ms linear;
}

.hiddennav-by-mouse{
  transform: translateY(-68px);
}

@media only screen and (max-width: 600px) {
  .container-fluid .navbar-nav a{
    padding: 15px 8px;
  }
}
