@import "../main.scss";

.main {
  width: 100vw;
  min-height: calc(100vh - 66px);
  background-color: #222222;
}

body {
  background-color: #222222;

}

.available-selector {
  background-color: #343434;
  padding: 25px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;

  font-family: "Noto Sans Display", sans-serif;

  .tui-datepicker-input{
    border: none;
    width: 100%;
  }

  .tui-calendar-container > *{
    z-index: 99;
  }

  .form-group {
    z-index: 10;
    label {
      color: #d7d7d7;
      display: block;
    }

    input {
      font-size: 15px;
      color: whitesmoke;
      outline: none;
      padding: 5px;
      border-radius: 15px;
      background-color: #5a5a5a;
      border: transparent solid 2px;
      cursor: pointer;
      transition: background-color .2s linear, border .15s linear;

      &:focus {
        border: #ffa200 solid 2px;
      }

      &[type="button"] {
        padding: 15px;
        border-radius: 400px;
        width: 100%;
        background-color: #ffa200;
        color: #000000;

        &:hover {
          background-color: #ffb03e;
        }
      }
    }

    margin: 10px 0;
  }

  .found {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: #424242 solid 1px;
    border-radius: 15px;

    hln-location {
      margin: 10px;

      width: available;
      height: 50px;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 1010px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 850px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 485px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}


/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

.tui-timepicker-row {
  display: flex;
}

.tui-timepicker {
  padding: 10px 20px !important;
}

.tui-timepicker select, .tui-ico-colon {
  background: none;
  color: white !important;
  outline: none !important;
  border: none !important;
}

.tui-timepicker option {
  background-color: #333333;
}
.tui-is-selected-range , .tui-is-selected-range * {
  color: white !important;
  background-color: #ffbf59 !important;
}

.tui-is-selected {
  background-color: #ffa200 !important;
}


.tui-datepicker {
  background-color: #333333;
}

.tui-calendar {
  background-color: #333333;

}

.tui-timepicker * {
  border: none !important;
}

.tui-calendar-header, .tui-calendar-header > *, .tui-calendar-title-today, .tui-calendar-header > button, .tui-calendar-btn {
  color: white !important;
  background-color: #444444 !important;

}

em {
  color: white !important;
}
.tui-calendar-btn::after {
  color: white !important;

}
.tui-calendar .tui-calendar-title-today {

}

.tui-datepicker *, .tui-datepicker {
  border-color: black !important;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}
