@import "../main.scss";

.main {
  margin-top: 80px;
  margin-bottom: 10px;
  width: 100vw;
  min-height: calc(100vh - 100px);
  background-color: #222222;
  font-family: 'Source Sans Pro', 'sans-serif';
}

body {
  background-color: #222222;
  overflow: hidden;
}

.available-selector {
  background-color: #343434;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  grid-template-columns: 1fr auto;
  gap: 20px;
  max-height: calc(0px + 100vh - 150px);
  font-family: 'Source Sans Pro', 'sans-serif';

  .form-group {
    z-index: 10;
    label {
      color: #d7d7d7;
      display: block;
    }

    input {
      font-size: 15px;
      color: whitesmoke;
      outline: none;
      padding: 5px;
      border-radius: 15px;
      background-color: #5a5a5a;
      border: transparent solid 2px;
      cursor: pointer;
      transition: background-color .2s linear, border .15s linear;

      &:focus {
        border: #ffa200 solid 2px;
      }
    }

    .button {
      outline: none;
      border: none;
      padding: 15px;
      border-radius: 400px;
      width: 100%;
      background-color: #ffa200;
      color: #ffffff;

      &:hover {
        background-color: #ffb03e;
        cursor: pointer;
      }
    }

    margin: 10px 0;
  }

  .found {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: #424242 solid 1px;
    border-radius: 15px;
    overflow-y: auto;

    hln-location {
      margin: 10px;

      width: available;
      height: 50px;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 1010px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 850px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 485px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}


/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
  position: relative !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 5px !important;
  background-color: #9880ff !important;
  color: #9880ff !important;
  animation: dotFlashing 1s infinite linear alternate !important;
  animation-delay: .5s !important;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

em {
  color: white !important;
}
.tui-calendar-btn::after {
  color: white !important;

}
.tui-calendar .tui-calendar-title-today {

}

.tui-datepicker *, .tui-datepicker {
  border-color: black !important;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

.fa-spinner{
  color: white!important;
  font-size: 15px;
}

.daterangepicker, .calendar-table {
  margin-top: 5.5px!important;
  background-color: #222222!important;
  color: white!important;
  border-color: #ffa200!important;
  &:before, &:after{
    border-bottom: 6px solid #ffa200!important;
  }
  .drp-buttons{
    border-color: #ffa200!important;
  }
  .hourselect, .minuteselect{
    background-color: #222222!important;
    border-color: #ffa200!important;
    color: white!important;
  }
  .prev span, .next span{
    border-color: white!important;
  }
  td, th{
    background-color: #222222!important;
    color: white!important;
    &:hover{
      background-color: #494949 !important;
    }
    &.disabled{
      color: #8c8c8c !important;
    }
    &.active{
      background-color: #ffa200!important;
    }
  }
  .cancelBtn, .applyBtn{
    outline: none!important;
    border: none!important;
    padding: 5px 15px!important;
    border-radius: 400px!important;
    background-color: #ffa200!important;
    color: #ffffff !important;

    &:hover {
      background-color: #ffb03e!important;
    }
  }
}

.daterangepicker.drop-up{
  margin-top: -5px!important;
}

.daterangepicker.drop-up:before{
  border-bottom: none!important;
  border-top: 6px solid #ffa200!important;
}

.daterangepicker.drop-up:after{
  border-bottom: none!important;
  border-top: 6px solid #ffa200!important;
}

@media only screen and (max-width: 600px) {
  .available-selector {
    display: grid;
    padding: 5px;
    width: 90vw;
    gap: 5px;
    max-height: calc(0px + 100vh - 100px);
    .form-group input{
      width: calc(100% - 15px);
    }
  }
}
