@import "../main.css";

.timer-main {
  width: 100vw;
  height: 100vh;
  background-color: #222222;
}

.progress-ring {
  position: absolute;
  z-index: 0;
  top: calc(50% - 155px);
  left: calc(50% - 155px);
}
.progress-ring__circle {
  color: green;
  transition: 0.35s stroke-dashoffset;
  /*// axis compensation*/
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#line-svg {
  mask: url("#circle-svg");
}

.ring-position {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.overlay-buttons {
  position: absolute;
  right: 20px;
  top: 80px;
  width: 50px;
  min-height: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}


.overlay-buttons>i {
  cursor: pointer;
  color: white;
  font-size: 50px;
}

.overlay-buttons .options-open {
  animation: buttons-left 1;
}

@keyframes buttons-left {
  from {right: 20px}
  to {right: 100px}
}
