@import "../main.scss";

.timer-main {
  width: 100vw;
  height: 100vh;
  background-color: #222222;
  h2{
    top: 0!important;
  }
}

#timer-text {
  font-family: 'Source Sans Pro ', sans-serif;
  color: white;
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 65px;
  transition: color 200ms linear;
}

.timer-div {
  transform: scale(1.5);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.progress-ring {
  position: absolute;
  z-index: 0;
  top: calc(50% - 155px);
  left: calc(50% - 155px);
}
.progress-ring__circle {
  color: green;
  transition: 0.35s stroke-dashoffset;
  /*// axis compensation*/
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#line-svg {
  mask: url("#circle-svg");
}

.ring-position {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.timer-time-text{
  color: white;
  font-size: 65px;
}

.groupSelector{
  position: absolute;
  top: 80px;
  right: 15px;
  .selectors{
    display: flex;
  }
}
